@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@theme inline {
  /* --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08); */

  --shadow-input: 0px 2px 3px -1px rgba(140, 100, 255, 0.1),
    0px 1px 0px 0px rgba(140, 100, 255, 0.05),
    0px 0px 0px 1px rgba(140, 100, 255, 0.1);

  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}
@custom-variant hover (&:hover);
